@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
  max-width: 329px;
}

.l-footer {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-footer p {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
}

.l-main {
  width: 100%;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .l-main {
    width: 392px;
  }
}

@media (min-width: 1024px) {
  .c-background--main {
    height: 100vh;
    position: fixed;
    width: 100%;
    display: block;
    background: url(../../../image/jpg/メインエリア.jpg);
    background-size: cover;
  }
}
.c-background--cream {
  background: #FFFBD3;
}

.c-logo--main {
  display: inline-block;
  width: 90px;
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 100000;
}
@media (min-width: 1024px) {
  .c-logo--main {
    width: 200px;
    position: absolute;
  }
}
.c-logo--mono {
  width: 235px;
}

.c-bird {
  position: absolute;
}

.c-object--hand {
  display: none;
}
@media (min-width: 1024px) {
  .c-object--hand {
    display: block;
    width: 50%;
    max-width: 733px;
    margin-top: 70px;
    margin-left: auto;
  }
}
.c-object--flame-under {
  width: 100%;
  height: 70px;
}

.c-button--hamburger {
  width: 28px;
  height: 28px;
  position: fixed;
  right: 20px;
  top: 25px;
  z-index: 100000;
}
.c-button--hamburger span {
  display: block;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  border-radius: 5px;
}
.c-button--hamburger span::before, .c-button--hamburger span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  left: 0;
  border-radius: 5px;
}
.c-button--hamburger span::before {
  top: -10px;
}
.c-button--hamburger span::after {
  top: 10px;
}

.c-button--contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 336px;
  height: 63px;
  background: #FFCD4C;
  border-radius: 40px;
  padding: 0 15px 0 56px;
}
.c-button--contact p {
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #363636;
}
.c-button--contact span {
  display: block;
  background: #FFFFFF;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.p-about--site h2 {
  width: 372px;
  margin: 0 auto 78px;
}
.p-about--site__content h3 {
  width: 227px;
  margin: 0 auto 30px;
}
.p-about--site__content p {
  font-size: 20px;
  margin: 0 auto 60px;
}
.p-about--site__content figure {
  width: 307px;
  margin: 0 auto 16px;
}
.p-first-view {
  position: relative;
  background: #FFFFFF;
}
.p-first-view__main-bg {
  height: 340px;
}
.p-first-view__main-bg img {
  border-radius: 0 0 200px 200px;
  height: 100%;
}
.p-first-view__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 300px;
}
.p-first-view__title {
  width: 304px;
  margin: 120px auto 0;
}
.p-first-view__title :last-child {
  text-align: end;
}
.p-first-view__title p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.p-first-view__button {
  margin: 42px auto;
}
/*# sourceMappingURL=style.css.map */