@use "../../Foundation/variable" as *;

@include breakpoint(pc){
    
    .c-animation--push{
        transition: all .2s;
        &:hover{
            transform: translateY(4px) scale(0.8) translateX(-10%);
            box-shadow: none;
            
        }
        
    }
    .c-animation--push-more{
        transition: all .2s;
        &:hover{
            transform: translateY(4px) scale(0.8) ;
            box-shadow: none;
            
        }
    }
}
