@use "../../Foundation/variable" as *;

.c-object{

    &--flame{
        width: 100%;
        height: 76px;
    }

    &--cage{

        background: url(../../../image/svg/かご.svg),no-repeat;
        width: 358px;
        height: 496px;
        
    }

    &--maru{
        display: block;
        background: $white-ff;
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    &--playground{
        width: calc(652% / 1440 * 100);
        min-width: 652px;
        position: absolute;
        top: 32%;
        z-index: 10;
        left: max(calc(70% - (100vw - 1024px)),50%);
    }

    &--inco{
        width: 80px;
        top: 150px;
        left: max(calc(110% - (100vw - 1024px)),88%);
        position: absolute;
        z-index: 20;

        &-tail{
            width: 40px;
            position: absolute;
            z-index: 9;
            top: 260px;
            left: max(calc(111% - (100vw - 1024px)),89%);
        }
    }
}
