@use "../../Foundation/variable" as *;

.c-title{

    &--atorie{
        width: 64%;
    }
    &--about-site--side{
        width: 180px;
    }

    &--contents{
        width: 50%;
    }

    &--about-me--side{
        width: 140px;
    }


    &--inco{
        display: inline-block;
        width: 50%;
        
    }
    &--inco--side{
        width: 140px;
    }

    &--web{
        display: inline-block;
        width: 60%;
    }
    &--web--side{
        width: 163px;
    }

    &--message{
        width: 45%;
        margin: 0 auto 38px;
    }
    &--message--side{
       width: 60px;
    }

    &--contact--side{
        width: 192px;
    }

    &--slide{

        &--inco{
            margin: auto;
            text-align: center;
            font-size: 2rem;
            @include breakpoint(pc){
                font-size: 1.8rem;
            }
        }
    }

}