@use "../../Foundation/variable" as *;

.c-wrapper{


    &--main{

        overflow-x: hidden;
        background: url(../../../image/png/シルエット.png) #656565 repeat-y;
        background-size: 250px;
        background-attachment: fixed;
        background-position: center;
        max-width: 392px;
        margin: auto;

        @include breakpoint(tablet){
            scroll-behavior: smooth;
        }

        @include breakpoint(pc){
            margin: 0;
            position: relative;
            top: 2%;
            left: 14%;
            border-radius: 50px;
            height: 542px;
            width: 52%;
            background: none;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    &--form{
        border: 1px solid $gray-66;
        margin-bottom: 43px;
    }

    &--checkbox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 138px;
        height: 50px;
        margin-bottom: 30px;
    }

}