@use "../../scss/Foundation/variable" as *;

.l-container{

    background: $yellow;

    @include breakpoint(pc){
        width: 755px;
        height: 810px;
        overflow-y: scroll;
        position: absolute;
        z-index: 200;
        top: 50px;
        right: 0;
        // top: 5%;
        background: url(../../image/png/スマホと手.png);
        background-size: cover;
        transition: .6s;
        
        &::-webkit-scrollbar {
            display: none;
        }

        &.is-down{
            top: 320px;
            
        }
    }
    
}