@use "../../scss/Foundation/variable" as *;

.l-container{

    background: $yellow;

    @include breakpoint(pc){
        width: calc(755% / 1440 * 100);
        min-width: 540px;
        max-width: 540px;
        height: 100%;
        min-height: 580px;
        max-height: 600px;
        overflow-y: scroll;
        position: absolute;
        z-index: 200;
        bottom: 0;
        left: 80%;
        transform: translateX(-80%);
        background: url(../../image/png/スマホと手.png);
        background-size: cover;
        transition: .6s;
        
        &::-webkit-scrollbar {
            display: none;
        }

        &.is-down{
            bottom: -220px;
            
        }
    }
    
}