@use "../../Foundation/variable" as *;

.p-about--site{
    padding: 0 0 30px;

    h2{
        width: 100%;
        margin: 0 auto 25px;
    }

    &__content{

        
        h3{
            margin: 0 auto 30px;
        }

        p{
            font-size: 2rem;
            margin: 0 auto 30px;
            width: 90%;

            @include breakpoint(pc){
                font-size: 1.8rem;
            }
        }

        figure{
            width: 78%;
            margin: 0 auto 16px;
        }


        &__item{

            margin-bottom: 40px;

            a{
                margin: 0 0 10px 35px;

                @include breakpoint(pc){
                    margin: 0 0 10px 15px;
                }
            }
        }
    }

}

.p-about--me{

    padding: 0 0 36px 0;

    h2{
        width: 308px;
        margin: 0 auto 40px;
    }

    @include breakpoint(pc){
        padding: 0 0 36px;

        h2{
            width: 100%;
        }
    }


}