@use "../../Foundation/variable" as *;

.p-about--site{


    h2{
        width: 372px;
        margin: 0 auto 78px;
    }

    &__content{
        
        h3{
            margin: 0 auto 40px;
        }

        p{
            font-size: 20px;
            margin: 0 auto 60px;
        }

        figure{
            width: 307px;
            margin: 0 auto 16px;
        }

        &__item{

            a{
                margin: 0 0 10px 25px;
            }
        }
    }

}