@use "../../Foundation/variable" as *;

.p-card{

    &--works{

        &__img{
            width: 365px;
            height: 240px;
            background: url(../../../image/png/PC_works.png);
            background-size: cover;
            margin: 0 auto 30px;
            position: relative;

            @include breakpoint(pc){
                width: 280px;
                height: 186px;
            }

            img{
                width:77%;
                height:80%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 10px;
                object-fit: contain;
            }
        
        }

        &__title{
            font-size: 2.4rem;
            margin: 0 auto 50px;
            width: 68%;
            text-align: center;
        }

        &__button{
            margin: 0 auto 45px;
        }
    }

    &--inco{

        margin-bottom: 60px;
        
        &__item{

            margin: 0 auto 36px;
            width: 356px;
            height: 180px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $yellow;
            border-radius: 10px;

            @include breakpoint(pc){
                width: 90%;
                height: auto;
                display: block;
                padding: 10px;
            }

            &__img{
                width: 160px;
                height: 160px;
                margin-left: 10px;

                @include breakpoint(pc){
                    width: auto;
                    height: auto;
                    margin-left: 0;
                }

                img{
                    height: 100%;
                    border-radius: 10px;
                }
            }

            &__info{
                display: flex;
                flex-direction: column;
                width: 166px;
                height: 160px;
                line-height: 1;
                position: relative;

                @include breakpoint(pc){
                    width: auto;
                    height: auto;
                }
                &__date{
                    font-size: 14px;
                }
                &__title{
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                &__text{
                    font-size: 14px;
                    line-height: 1.5;

                    @include breakpoint(pc){
                        margin-bottom: 40px;
                    }
                }
                &__category{
                    position:absolute;
                    bottom: 0;
                    display: inline;
                    border-radius: 30px;
                    background: $orange;
                    padding: 0 15px;
                    font-size: 11.5px; 
                }
            }
        }
    }

    // &--works{

    //     margin-bottom: 60px;

    //     &__item{
    //         border-radius: 10px;
    //         width: 310px;
    //         margin: 0 auto 36px;
    //         padding-bottom: 20px;

    //         &__img{
    //             width: 100%;
    //             height: 240px;
    //             margin-bottom: 20px;

    //             img{
    //                 height: 100%;
    //             }
                
    //         }
    //         &__title{
    //             text-align: center;
    //             font-size: 19px;  
    //             padding: 0 10px;              

    //         }

    //     }
        
    // }
}