@use "../../Foundation/variable" as *;

.p-inco{

    padding: 45px 0;

    h2{
        width: 78%;
        margin: 0 auto 40px;
        @include breakpoint(pc){
            margin: 0 auto 20px;
        }
    }
    &__text{
        text-align: center;
        font-size: 2.2rem;
        margin: 0 auto 60px;

        @include breakpoint(pc){
            font-size: 1.8rem;
            margin: 0 auto 35px;
        }
    }

    div{
        margin: 0 auto 45px;
        position: relative;

        figure{
            width: 274px;
            height: 244px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 37px;

            @include breakpoint(pc){
                width: 225px;
                height: 250px;
                bottom: -10px;
            }

            img{
                height: 100%;
                border-radius: 3px;
            }
        }
    
    }

    &__button{
        margin: auto;

        @include breakpoint(pc){
            transform: scale(0.8);
        }
    }
}
