@use "../../Foundation/variable"as *;

.p-message{

    padding: 15px 0 67px;


    &__text{
        font-size: 2rem;
        width: 90%;
        margin: auto;

        @include breakpoint(pc){
            font-size: 1.8rem;
        }
        &--2{
            @extend .p-message__text;
            margin: 10px auto 38px;
        }
    }

    figure{
        width: 86%;
        margin: -20px auto 0;
    }

    &__button{
        margin: auto; 
        
        @include breakpoint(pc){
            transform: scale(0.8) translateX(-10%);
        }
    }
}