@use "../../Foundation/variable"as *;

.p-message{

    padding: 15px 0 67px;

    h2{
        width: 180px;
        margin: 0 auto 38px;
    }

    &__text{
        font-size: 20px;
        width: 332px;
        margin: auto;

        &--2{
            @extend .p-message__text;
            margin: 10px auto 38px;
        }
    }

    figure{
        width: 341px;
        margin: -20px auto 0;
    }

    &__button{
        margin: auto; 
    }
}