@use "../../Foundation/variable" as *;

.p-pagenation{

    &__content{
        width: 350px;
        margin: 0 auto 60px;
        display: flex;
        justify-content: space-between;

        @include breakpoint(pc){
            width: auto;
        }


        li{
            display: flex;
            align-items: center;
            font-size: 20px;

            .p-pagenation__content__page{
                width: 30px;
                text-align: center;
                color: $black-36;
            }

        }
    }

    
}