@use "../../Foundation/variable" as *;

.p-works{

    padding: 25px 0 45px;

    h2{
        width: 88%;
        margin: 0 auto 30px;
    }

    &__text{
        font-size: 2rem;
        width: 90%;
        margin: 0 auto 44px;

        @include breakpoint(pc){
            font-size: 1.8rem;
        }
    }

    &__button{
        margin: 0 auto 56px;
        
        @include breakpoint(pc){
            transform: scale(0.8);
        }
    }
}